body{
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 3.5rem;
  color: rgba(0, 0, 0, 0.486);
}

.choices{
  margin-bottom: 30px;
}

button{
  font-size: 7.5rem;
  min-width: 150px;
  margin: 0 10px;
  border-radius: 150px;
  background-color: aquamarine;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

button:hover{
  background-color: aqua;
}

#playerDisplay,#computerDisplay{
  font-size: 2.5rem;
}

#resultDisplay{
  font-size: 5rem;
  margin: 30px 0;
}

.scoreDisplay{
  font-size: 2.5rem;
}

.greenText, #playerScoreDisplay{
  color: hsl(130, 84%, 25%);
}

.redText, #computerScoreDisplay{
  color: hsl(0, 84%, 60%);
}